.header-and-dropdown {
  display: flex; 
  justify-content: space-between; 
  
}

.display {
  /* margin-left: 40px; */
  font-size: 40px;
}

.state-form { 
  padding-right: 15px; 
}

.state-select { 
  padding: 8px;
}

.last-update { 
  margin: 5px; 
  font-size: 12px;
  font-style: italic;
}